@page  "{restaurantId:int}"
@model OdeToFood1.Pages.Restaurants.DeleteModel

<h2>Delete!</h2>
<div class="alert alert-danger" >
    Are you sure to delete @Model.Restaurant.Name
</div>
<form  method="post">
    <button type="submit" class="btn btn-danger">Save</button>
    <a asp-page="./List" class="btn btn-default">Cancel</a>
</form>

